*{
    margin: 0;
    padding: 0;
    text-decoration: none;

}
body{
  
}

p {
    text-align: center;
}

/* buscou o unico q tem em antes de strong */
em strong{
    color: blueviolet;
}

#titulo-style{
    border: 10px solid #000000;
    padding-top: 20px;
    margin: 40px;
    text-align: center;
}
.titulo{
    text-align: center;
}
.titulo-principal{
    padding-left:20px;
}
#texto-azul{
    color: blue;
}

#banner{
    width: 100%;
}
#principal{
    background-color: darkgray;
    padding: 30px;
}

.items{
    font-style: italic;

}

#beneficios{
    background: #ffffff;
    padding: 20px;

}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.img-beneficios{
    width: 50%;
}